@using WorkoutApp.Models

@if (ViewBag.WorkoutsListCount == 0)
{
    <p>Er zijn geen resultaten gevonden.</p>
}

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
            alert('@TempData["alertMessage"]');
    </script>
}

@for (int i = 0; i < ViewBag.WorkoutsListCount; i++)
{
    Workout workout = ViewBag.WorkoutsList[i];

    <div class="box workoutscontent">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <h1 class="workouttitle">@workout.WorkoutTitle</h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                <h1>
                    @if (workout.Goal == "Afvallen")
                    {<span class="label label-primary text-right workoutlabel">Afslanken</span>}
                    @if (workout.Goal == "Spieropbouw")
                    {<span class="label label-success workoutlabel">Spieropbouw</span>}
                    @if (workout.Goal == "Spierkracht")
                    {<span class="label label-warning workoutlabel">Spiermassa opbouwen</span>}
                    @if (workout.Goal == "Core")
                    {<span class="label label-danger workoutlabel">Core stability</span>}
                </h1>
            </div>
            
            <div class="col-md-3">
                <p class="pricetext">€@workout.Price</p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-12">
                <p>@workout.DescriptionShort</p>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-regular" onclick="location.href = '@Url.Action("WorkoutDetails", "Workout", new {workout.WorkoutID})'">
                    Meer informatie <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                </button>
            </div>
            
            <!-- TODO: Voeg wijzig/verwijder knoppen toe voor owners -->
        </div>
    </div>
}